<!DOCTYPE html>
<html lang="es">
{% extends "navbar.html" %}
	<head>
		{% load staticfiles %}
		    <title> Ligas </title>
		{% block css %}
		    <link 	href="{% static 'css/ligas.css' %}" rel="stylesheet" />
		{% endblock %}
	</head>
{% block content %}
	<body>
        <div class="container-fluid general">
            {% for l in ligas %}
                    <div class="card  col-md-4" style="width: 38rem;">
                        <ul class="list-group list-group-flush datos">
                            <li class="list-group-item"><img class="card-img-top" src="{{ l.imagenLiga.url}}" width="100%" height="150"></li>
                            <li class="list-group-item">Nombre: {{ l.nombre}}</li>
                            <li class="list-group-item">Categoria: {{ l.categoria }}</li>
                            <li class="list-group-item">Precio: {{ l.coste_inscripcion }} €</li>
                            <li class="list-group-item">
                                <form action="{% url 'inscribirse' request.user.id l.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary">Inscribirse</button><br>
                                    {% for x in context %}
                                        {{ x }}
                                    {% endfor %}
                                </form>
                            </li>
                        </ul>
                    </div>
            {% endfor %}
        </div>
    </body>
{% endblock %}
</html>